/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */


body,
* {
    font-family: 'Inter', sans-serif !important;
    scrollbar-width: thin;
  scrollbar-color: #3399ff #000E20;
}

aside {
    z-index: 999 !important;
}


.v-input__details {
    min-height: auto !important;
}

.v-input__details .v-messages {
    min-height: auto !important;
}
:root {
    --primary-color: #0080ff;
    --danger-color: #b91c1c;
}

[data-theme="dark"] {
    --primary-color: #0080ff;
    --danger-color: #b91c1c;
}

.no-overlay .v-btn__overlay{
    display: none;
}
.bg-danger-lite{
    background-color: rgba(255, 0, 0,  0.24)
}

/* table th bg change */
.v-data-table__thead  th{
    background-color: rgba(var(--v-theme-background ) ) ;
}



/* table tr bg change */
.v-data-table__tbody tr:hover{
    background-color: rgb(var(--v-theme-background));
}

.v-switch__thumb {
    align-items: center;
    background-color: rgb(var(--v-theme-surfaceBright));
}


.v-select .v-select__selection-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}
